.display {
  font-family: var(--global-font-family-markazi-text);
  font-size: var(--global-font-size-9);
  font-weight: var(--global-font-weight-bold);
  line-height: var(--global-line-height-auto);
  margin: 0;
}
.headline1 {
  font-family: var(--global-font-family-markazi-text);
  font-size: var(--global-font-size-6);
  font-weight: var(--global-font-weight-bold);
  line-height: var(--global-line-height-auto);
  margin: 0;
}

.headline2 {
  font-family: var(--global-font-family-markazi-text);
  font-size: var(--global-font-size-5);
  font-weight: var(--global-font-weight-bold);
  line-height: var(--global-line-height-auto);
  margin: 0;
}

.headline3 {
  font-family: var(--global-font-family-markazi-text);
  font-size: var(--global-font-size-4);
  font-weight: var(--global-font-weight-bold);
  line-height: var(--global-line-height-auto);
  margin: 0;
}
.body-regular {
  font-family: var(--global-font-family-karla);
  font-size: var(--global-font-size-1);
  font-weight: var(--global-font-weight-regular);
  line-height: var(--global-line-height-auto);
  margin: 0;
}
.body-bold {
  font-family: var(--global-font-family-karla);
  font-size: var(--global-font-size-1);
  font-weight: var(--global-font-weight-bold);
  line-height: var(--global-line-height-auto);
  margin: 0;
}
