.hero-home {
  background: linear-gradient(
      90deg,
      rgba(55, 62, 59, 0.9) 50%,
      rgba(73, 94, 87, 0) 100%
    ),
    url(../img/hero.png), lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* -----Hero----- */
.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  max-width: 486px;
  text-align: center;
}
.text {
  color: var(--global-neutrals-text-1);
}
.chicago-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.lemmon-icon {
  height: 24px;
}
.chicago-text {
  color: var(--global-secondary-6);
}
.btn {
  min-width: 300px;
}
/* -----Specials Section----- */
.specials-section {
  background: var(--global-neutrals-fill-2);
  padding: 48px 24px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 786px) {
  .head {
    flex-direction: column;
    gap: 24px;
  }
}
.cards-container {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}

@media (max-width: 786px) {
  .cards-container {
    flex-wrap: wrap;
  }
}

/* -----Testimonials section----- */
.testimonials-section {
  padding: 48px 24px;
}
.testimonials-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 786px) {
  .testimonials-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
.testimonials-card {
  background-color: var(--global-neutrals-fill-2);
  width: auto;
  padding: 32px;
  border-radius: 16px;
}

/* -----About section----- */
.about-section {
  background: var(--global-primary-6);
  padding: 48px 24px;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 786px) {
  .about-content {
    grid-template-columns: 1fr;
  }
}
.img-about-container {
  background: red;
  border-radius: 24px;
  border: 2px solid var(--global-secondary-6);
  height: 568px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 786px) {
  .img-about-container {
    height: 500px;
  }
  .img-about {
    width: fit-content;
  }
}
.img-about {
  height: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-text {
  color: var(--global-neutrals-text-1);
}
.about-headline {
  color: var(--global-neutrals-text-1);
}
